@page "/StudentCourse/AccessCourse/{EnrollmentID:int}"
@using EffizyMusicSystem.Models
@using EffizyMusicSystem.Models.DTO

@inject EffizyMusicSystem.Services.EffizyMusicApplicationService EffizyService
@rendermode InteractiveServer


<br />
<br />
<div class="access-course-main">
    <label class="course-title">@studentCourse.Title</label>
    <br /> 
    <br />
    <br />
    <br />
    <div class="lesson-frame">
        @if (DisplayLesson)
        {
            <label class="video-lesson-title">@lessonTitle</label>
            <br />
            <!--<img src="/img/drums.png" width="600" height="400"/>-->
            @* <video controls="controls" width="800px" height="600px"></video> *@
            <br />
            <br />

            <label class="video-lesson-title">@selectedLesson.Title</label>
            <br />
            <label><b>Course Description: </b>@studentCourse.CourseDescription</label>
        }
        else
        {
            <label class="video-lesson-title">Quiz - @selectedQuiz.QuizTitle</label>
            <br />
            <br />
            int questionNumber = 1;
            @foreach(var question in quesionnaire)
            {
                
                <label>@questionNumber. @question.questionText</label>
                <br />
                <InputRadioGroup Name="selectedQuiz" @bind-Value="@testString">
                    @foreach(var choice in question.questionChoices)
                    {
                        <InputRadio @bind-Value="choice.ChoiceText" />  <label> - @choice.ChoiceText</label>
                        <br />
                    }
                </InputRadioGroup>

                <br />
                questionNumber++;
            }

        }
    </div>


    <div class="module-list">
        <Accordion AlwaysOpen="false" >
            @foreach (var module in studentCourse.Modules)
            {
                <AccordionItem>
                    <TitleTemplate>
                        <Icon Name="IconName.MusicNote" Class="me-1" />
                        @module.Title
                    </TitleTemplate>
                    <Content>
                        <table>
                            @foreach(var lesson in module.Lessons)
                            {
                                <tr>
                                    <td class="lesson-title">
                                        @if(selectedLesson.LessonNumber == lesson.LessonNumber)
                                        {

                                            <Button Class="accordion-item "  Style="background-color: yellowgreen;" @onclick="() => UpdateLesson(lesson)">Lesson - @lesson.Title </Button>
                                        }
                                        else
                                        {
                                        <Button Class="accordion-item" @onclick="() => UpdateLesson(lesson)">Lesson - @lesson.Title </Button>
                                        }
                                    </td>
                                 </tr>
                            }
                            @foreach (var quiz in module.Quizzes)
                            {
                                <tr>
                                    <td class="lesson-title"><Button Class="accordion-item btn-info" @onclick="() => selectQuiz(quiz)"><i>Quiz</i> - @quiz.QuizTitle</Button></td>
                                 </tr>
                            }
                        </table>
                    </Content>
                </AccordionItem>
            }
            
        </Accordion>

    </div>

</div>

@code {
    [Parameter]
    public int EnrollmentID { get; set; }

    public StudentCourseDTO? studentCourse;
    public Lesson selectedLesson = new Lesson();
    public List<QuestionnaireDTO>? quesionnaire;
    public Quiz selectedQuiz = new Quiz();

    public String? lessonTitle;
    public String? testString;
    public Boolean DisplayLesson { get; set; } = true;


    protected override async Task OnInitializedAsync()
    {
        studentCourse = EffizyService.GetStudentCourse(EnrollmentID);
        selectedLesson = studentCourse.Modules.First().Lessons.First();
        lessonTitle = studentCourse.Modules.First().Lessons.First().Title;
    }

    public void UpdateLesson(Lesson lesson)
    {
        selectedLesson = lesson;
        DisplayLesson = true;
    }

    public void selectQuiz(Quiz quiz)
    {
        DisplayLesson = false;
        selectedQuiz = quiz;
        quesionnaire = EffizyService.GetQuestionnaire(quiz.Id);
    }
}
