@page "/course/add"
@using EffizyMusicSystem.Models 
@using EffizyMusicSystem.Enum
@inject EffizyMusicSystem.Services.EffizyMusicApplicationService EffizyService
@inject NavigationManager NavigationManager
<h3>Add Course</h3>
<hr />
<EditForm Model="@model" OnValidSubmit="SaveCourse" FormName="addcourse">
    <DataAnnotationsValidator />

    <div class="row"> 
        <div class="col-md-6"> 

            <div class="mb-3">
                <label class="form-label">Course Title</label>
                <div class="col-md-6">
                    <InputText class="form-control" @bind-Value="model.Title" />
                </div>
                <ValidationMessage For="@(() => model.Title)" />
            </div>

            <div class="mb-3">
                <label class="form-label">Course Code</label>
                <div class="col-md-6">
                    <InputText class="form-control" @bind-Value="model.CourseCode" />
                </div>
                <ValidationMessage For="@(() => model.CourseCode)" />
            </div>

            <div class="mb-3">
                <label class="form-label">Course Description:</label>
                <div class="col-md-6">
                    <textarea class="form-control" @bind="model.CourseDescription"></textarea>
                </div>
                <ValidationMessage For="@(() => model.CourseDescription)" />
            </div>

        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Select Instrument</label>
                <div class="col-md-4">
                    <select class="form-select" name="model.InstrumentID">
                        @if (Instruments != null)
                           {
                             foreach (var entity in Instruments)
                               {
                                 <option value="@entity.InstrumentID">@entity.InstrumentType</option>
                               }
                           }
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Instructor</label>
                <div class="col-md-4">
                    <select class="form-select" name="model.InstructorID">
                       @if (Instructors != null)
                         {
                           foreach (var entity in Instructors)
                             {
                               <option value="@entity.InstructorID">@entity.FirstName @entity.LastName</option>
                             }
                         }
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Estimated Time </label>
                <div class="col-md-6">
                    <InputText class="form-control" @bind-Value="model.EstimatedTime" />
                </div>
                <ValidationMessage For="@(() => model.EstimatedTime)" />
            </div>

        </div>

    </div>


    <style>
        .input-select-container {
            position: relative;
        }

        .arrow {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #333;
        }
    </style>

    <div class="mb-3">
        <label class="form-label">Skill Level </label>
        <div class="col-md-4">
            <div class="input-select-container">
                <InputSelect class="form-control" @bind-Value="model.SkillLevel">
                <option value="">--Select an option--</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
                </InputSelect>
                <div class="arrow">
                </div>
            </div>
        </div>
        <ValidationMessage For="@(() => model.SkillLevel)" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-light" href="/courses/">
            Cancel
        </a>
    </div>
</EditForm>
@code {

    [SupplyParameterFromForm]
    protected Course model { get; set; }

    protected List<Instrument> Instruments { get; set; }

    protected List<Instructor> Instructors { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (model == null) // && string.IsNullOrEmpty(model.Title)
        {
            model = new Course();

            Instruments = EffizyService.GetInstruments();

            Instructors = EffizyService.GetInstructors();
        }
    }

    protected async Task SaveCourse()
    {
        if (!string.IsNullOrEmpty(model.Title))
        {
            EffizyService.AddCourse(model);
            Cancel();
        }
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/courses/");
    }
}
