@page "/editCourse/{CourseID:int}"
@using EffizyMusicSystem.Models
@using EffizyMusicSystem.Services
@using Microsoft.AspNetCore.Components.Forms
@using EffizyMusicSystem.Utils
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ICourseService CourseService
@inject NavigationManager NavigationManager
@inject EffizyMusicSystem.Services.IEffizyMusicApplicationService EffizyService
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer

<h3 class="display-3">Edit Course</h3>
<hr />

@if (course != null)
{
    <EditForm Model="@course" OnValidSubmit="UpdateCourse" formname="editCourseForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Title</label>
            <InputText @bind-Value="course.Title" class="form-control" />
            <ValidationMessage For="@(() => course.Title)" />
        </div>

        <div class="form-group">
            <label>Course Code</label>
            <InputText @bind-Value="course.CourseCode" class="form-control" />
            <ValidationMessage For="@(() => course.CourseCode)" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <InputTextArea @bind-Value="course.CourseDescription" class="form-control" />
            <ValidationMessage For="@(() => course.CourseDescription)" />
        </div>

        <div class="form-group">
            <label>Instrument</label>
            <select class="form-control" @bind="course.InstrumentID">
                @foreach (var instrum in Instruments)
                {
                    <option value="@instrum.InstrumentID">@instrum.InstrumentType</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Instructor</label>
            <select class="form-control" @bind="course.InstructorID">
                @foreach (var instruc in Instructors)
                {
                    <option value="@instruc.InstructorID">@($"{instruc.FirstName} {instruc.LastName}")</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Skill Level</label>
            <select class="form-control" @bind="course.SkillLevel">
                @foreach (var skill in Skills)
                {
                    <option value="@skill">@skill</option>
                }
            </select>
            <ValidationMessage For="@(() => course.SkillLevel)" />
        </div>

        <div class="form-group">
            <label>Estimated Time</label>
            <InputText @bind-Value="course.EstimatedTime" class="form-control" />
            <ValidationMessage For="@(() => course.EstimatedTime)" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-danger" @onclick="RemoveCourse">Delete</button>
        <button type="button" class="btn btn-secondary" @onclick="CancelEdit">Cancel</button>
    </EditForm>
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int CourseID { get; set; }

    private Course course;
    private List<Instrument> Instruments = new List<Instrument>();
    private List<Instructor> Instructors = new List<Instructor>();
    private List<string> Skills = new List<string> { "Beginner", "Intermediate", "Advanced" }; // Sample SkillLevels

    private string ErrorMessage { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            User user = ((await ProtectedSessionStore.GetAsync<User>("User")).Value ?? new User());
            if (user.UserID == 0 || user.UserTypeID == Constants.UserType_Student)
            {
                NavigationManager.NavigateTo("/NotAuthorize/");
            }
            
            course = await CourseService.GetCourseByIdAsync(CourseID);
            Instruments = await CourseService.GetInstrumentsAsync();
            Instructors = await CourseService.GetInstructorsAsync();

            if (course != null)
            {
                course.InstrumentID = course.Instrument?.InstrumentID ?? 0;
                course.InstructorID = course.Instructor?.InstructorID ?? 0;
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = "Error loading course data: " + ex.Message;
        }
    }

    private async Task UpdateCourse()
    {
        try
        {
            await CourseService.UpdateCourseAsync(course);
            NavigationManager.NavigateTo("/courses");
        }
        catch (Exception ex)
        {
            ErrorMessage = "Error updating course: " + ex.Message;
        }
    }
    private async Task RemoveCourse()
    {
        try
        {
            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the Course named {course.CourseCode}? It will delete related Modules, Lessons and Quizes associated with it. Please double check before proceeding");
            if (confirmed)
            {
                await EffizyService.DeleteCourse(CourseID);
                NavigationManager.NavigateTo("/courses");
            }
        }

        catch (Exception ex)
        {
            ErrorMessage = "Error deleting course: " + ex.Message;
        }
    }

    private void CancelEdit()
    {
        NavigationManager.NavigateTo("/courses");
    }
}
