@page "/feedback"
@using EffizyMusicSystem.Models
@using EffizyMusicSystem.Models.DTO
@inject EffizyMusicSystem.Services.EffizyMusicApplicationService EffizyService
@rendermode InteractiveServer

<div class="feedback-container">
    @if (feedbacks == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h3>Feedback</h3>
            <table class="feedback-table">
                @foreach (var feedback in feedbacks)
                {
                    <tr>
                        <td>@feedback.FirstName @feedback.LastName</td>
                    </tr>
                    <tr>
                        <td>@feedback.FeedbackDate</td>
                    </tr>
                    <tr>
                        <td>@feedback.Comments</td>
                    </tr>
                }
            </table>
          <table class="feedback-post">
                <tr>
                    <td>
                        
                    <EditForm Model="@feedbackpost" OnValidSubmit="@Submit" FormName="feedbackForm" >
                        <InputTextArea class="feedback-input" @bind-Value="feedbackpost.Comments" placeholder="Enter feedback here." />
                        <ValidationMessage For="@(() => feedbackpost.Comments)" />
                        <br />

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </EditForm>
                    </td>
                </tr>
                <tr>
                    <td>
                
                    </td>
                </tr>
        </table>
    }
 </div>

@code {
    private List<FeedbackDTO>? feedbacks;

    private Feedback feedbackpost { get; set; } = new Feedback();

    protected override async Task OnInitializedAsync()
    {
        feedbacks = EffizyService.GetFeedbackDTOs();
    }

    private  void Submit()
    {
        feedbackpost.UserID = 6;
        feedbackpost.FeedbackDate = DateTime.Now;
        feedbackpost.Comments = feedbackpost.Comments;

         EffizyService.InsertFeedback(feedbackpost);
        feedbacks = EffizyService.GetFeedbackDTOs();
        feedbackpost = new Feedback();
    }

}
